<img src="../../assets/fondocodex.png" class="bg">
<div class="login-page">
  <div class="form">
    <form class="login-form">
      <p-messages [(value)]="msgs"></p-messages>
      <input type="text" [(ngModel)]="user" [ngModelOptions]="{standalone: true}" placeholder="username" />
      <input [(ngModel)]="pass" [ngModelOptions]="{standalone: true}" type="password" placeholder="password" />
      <button (click)="login()">Login</button>
      <!--<button routerLink="/menu" router>login</button>-->
    </form>
  </div>
</div>