<p-growl baseZIndex="10" [(value)]="msgs"></p-growl>

<h3 class="first">Search Patient</h3>

<div class="ui-g ui-fluid">
  <div class="ui-g-12 ui-md-4">
    <div class="ui-inputgroup">
      <span class="ui-inputgroup-addon"><i class="fa fa-user"></i></span>
      <input type="text" pInputText [(ngModel)]="name" placeholder="Name">
    </div>
  </div>

  <div class="ui-g-12 ui-md-4">
    <div class="ui-inputgroup">
      <button pButton type="button" label="Search" (click)="searchPatient()"></button>
      <button pButton type="button" label="Clear" (click)="clear()"></button>
    </div>
  </div>
</div>

<div *ngIf="showTable">
  <p-dataTable [value]="lista" [rows]="5" [paginator]="true" [pageLinks]="5" [rowsPerPageOptions]="[5,10,20]">
    <p-header>Vital Signs</p-header>
    <p-column header="Date" [style]="{'width':'auto'}">
      <ng-template let-patient="rowData" pTemplate="body">
        {{patient.updatedAt | date:"MM/dd/yy hh:mm:ss"}}
      </ng-template>
    </p-column>
    <p-column field="heartRate" header="BPM"></p-column>
    <p-column field="systolic" header="Systolic Pressure"></p-column>
    <p-column field="diastolic" header="Diastolic Pressure"></p-column>
  </p-dataTable>
</div>

<div *ngIf="showChart">
  <h4>BPM Chart</h4>
  <p-chart type="line" [data]="bpmReadings" (onDataSelect)="selectDataBpm($event)">
  </p-chart>

  <h4>Blood Pressure Chart</h4>
  <p-chart type="line" [data]="bloodPressureChart" (onDataSelect)="selectDataBpm($event)">
  </p-chart>
</div>