<h3>From here the Heart Rate Readings</h3>
<a href="https://www.medicalnewstoday.com/articles/235710.php">What should my heart rate be?</a>
<br/>
<!--<img src="./../../assets/bmpRate.png" class="user-image" alt="Blood Pressure Chart">-->
<h3>From here the Blood Pressure Readings</h3>
<a href="https://www.mayoclinic.org/diseases-conditions/high-blood-pressure/in-depth/blood-pressure/art-20050982">What should
    my blood pressure be?</a>
<br/>
<img src="./../../assets/bloodPressure.png" class="user-image" alt="Blood Pressure Chart">